<section class="flex flex-row py-[2rem] bg-light-coral w-full" id="contact-section">
  <div class="flex w-full">
    <img class="w-[12.5rem] relative top-[2rem] " src='../assets/bg-pattern-home-6-about-5.svg' alt=""/>
    <div class="flex flex-row items-center w-full gap-[19.25rem]  ml-[5rem]">
        <h2 class="font-livvic font-bold text-[2rem] leading-[2rem] text-center text-sacramento ">Ready to get started?</h2>
        <a routerLink='/contact'><button class="h-[3rem] w-[9.5625rem] font-livvic font-semibold text-[1.125rem] leading-[1.75rem] text-sacramento hover:bg-sacramento hover:cursor-pointer hover:text-[#fff] mobile:mx-auto rounded-[1.5rem] border-[0.125rem] border-solid border-sacramento" >contact us</button></a>
    </div>
  </div>
</section>
