<header class="flex items-center mt-[2.25rem] mx-[10.3125rem] justify-between">
  <div class="flex justify-between items-center gap-[5rem]">
    <img src="../../assets/logo.svg" alt="logo"/>
    <div class="flex items-center gap-[2.5rem] ">
      <h3 routerLink="/" class="cursor-pointer text-[#fff]">home</h3>
      <h3 routerLink="/about" class="cursor-pointer text-[#fff]">about</h3>
    </div>
  </div>
  <button routerLink="/contact" class="cursor-pointer  hover:bg-[#fff] hover:text-dark-green  border-solid border-[#fff] border-2 rounded-3xl font-livvic font-semibold w-[9.5625rem] h-[3rem] text-[#fff]"> contact us</button>
</header>