<main class="flex flex-col w-full min-h-screen p-0 m-0 border-box">
  <header class="flex items-center mt-[2.25rem]">
    <div class="flex justify-between items-center">
      <img src="../../assets/logo.svg" alt="logo"/>
      <div class="flex items-center gap-[2.5rem]">
        <h3 routerLink="/">home</h3>
        <h3 routerLink="/about">about</h3>
      </div>
    </div>
    <button routerLink="/contact" class="cursor-pointer  hover:bg-[#fff] hover:text-dark-green  border-solid border-[#fff] border-2 rounded-3xl font-livvic font-semibold w-[9.5625rem] h-[3rem] text-[#fff]"> contact us</button>
  </header>
</main>
