<main class="flex flex-col w-full min-h-screen p-0 m-0 border-box">
  <section class="bg-midnight-green w-full h-[43.75rem] flex flex-col gap-y-[8rem]">
    <app-header></app-header>
    <img class="laptop:absolute laptop:left-[-6.5rem] top-[12.6rem]  tablet:hidden mobile:hidden" src='../assets/bg-pattern-home-1.svg' alt="bg-pattern"/>
    <div class="laptop:grid laptop:grid-cols-[39.6875rem_27.8125rem] mx-[10.3125rem]  tablet:flex tablet:mx-auto tablet:flex-col tablet:gap-[1.5rem] mobile:flex mobile:flex-col mobile:gap-[1rem]">
      <h1 class="laptop:text-[6.25rem] laptop:leading-[6.25rem] laptop:text-left tablet:text-[4rem] tablet:leading-[3.5rem] font-livvic font-bold text-[2.5rem] text-[#fff] leading-[2.5rem] text-center">
        Find the <br> best <span class="text-light-coral">talent</span>
      </h1>
      <div class="laptop:flex laptop:flex-col laptop:items-start laptop:justify-between tablet:w-[28.5625rem] tablet:h-[5.25rem] laptop:text-left ">
        <div class="laptop:w-[3.125rem] laptop:h-1 laptop:bg-[#79C8C7] tablet:hidden mobile:hidden" ></div>
        <p class="laptop:text-[1.125rem] laptop:text-left font-livvic font-semibold text-[#fff] text-[0.9375rem] leading-[1.75rem] text-center mobile:w-[21.5rem]">
          Finding the right people and building high performing teams can be hard.
          Most companies aren’t tapping into the abundance of global talent.
          We’re about to change that.
        </p>
      </div>
    </div>
    <img class="laptop:self-end absolute top-[32.6rem] right-[7rem] tablet:mx-auto  mobile:self-center  mobile:mt-[4rem] mobile:w-[22.375rem] mobile:h-[12.5rem]" src='../assets/bg-home-pattern.svg' alt="bg-home"/>
  </section>
  <div class="justify-center bg-sacramento " id="coreval-section">
    <div class="relative overflow-hidden">
      <img alt="bg-home-pattern"  class="absolute w-[12.5rem] h-[15.25rem]  laptop:overflow-x-hidden laptop:right-[-6.3rem] laptop:top-[28rem]  "  src='../assets/bg-pattern-home-3.svg'/>
      <div >
      </div>
      <div class="laptop:w-[69.375rem] laptop:h-[25.25rem] laptop:mx-auto laptop:my-[8.75rem] laptop:grid laptop:grid-cols-[27.8125rem_33.75rem]  laptop:children:border-[#eef] laptop:gap-x-[7.8125rem]  mobile:mx-10 mobile:my-[4rem] mobile:gap-y-[3.5rem] mobile:grid mobile:grid-rows-[12.25rem_43.3125rem] mobile:w-[20.4375rem] tablet:w-[35.8125rem] tablet:h-[31.875rem] tablet:grid tablet:grid-rows-[4rem_21.625rem] tablet:mt-[7rem] tablet:mx-auto tablet:gap-y-[6.7rem]">
          <div class="mobile:w-[15rem] mobile:flex mobile:flex-col mobile:gap-7 tablet:w-[27.8125rem] tablet:h-[4rem] laptop:h-[12.625rem] laptop:flex laptop:flex-col laptop:gap-y-12">
              <div class=" bg-light-coral w-[3.125rem] h-[0.25rem]"></div>
              <h2 class="laptop:text-[3rem] laptop:leading-[3rem] laptop:h-[9rem] tablet:text-[2rem] tablet:leading-8 tablet:h-[4rem] tablet:mt-8 font-livvic font-bold mobile:text-[2rem] mobile:leading-[2rem] text-[#fff]">
                  Build &
                  manage
                  distributed
                  teams like no
                  one else.
              </h2>
          </div>
          <div class="laptop:mt-[3.3rem] laptop:flex laptop:flex-col laptop:gap-y-8 tablet:flex tablet:flex-col  tablet:gap-y-8 mobile:flex mobile:flex-col mobile:gap-y-[1.6rem] laptop:children:flex laptop:children:flex-row">
              <div class="gap-6  mobile:flex mobile:flex-col text-[#fff] mobile:mx-auto mobile:gap-y-2 flex flex-row">
                  <div class="w-[4.5rem] h-[4.5rem] mobile:mx-auto">
                      <img src='../assets/icon-person.svg'/>
                  </div>
                  <div class="flex flex-col gap-y-4 mobile:gap-y-1">
                      <h3 class="tablet:text-left laptop:text-left font-livvic font-bold text-[1.125rem] mobile:text-center text-light-coral">Experienced Individuals</h3>
                      <p class="font-livvic font-semibold text-[0.9375rem] leading-[1.5625rem] laptop:text-left mobile:text-center tablet:leading-[1.5rem] tablet:text-[0.9375rem] opacity-40 tablet:text-left  mobile:mt-2">
                          Our network is made up of highly experienced
                          professionals who are passionate about what
                          they do
                      </p>
                  </div>
              </div>

              <div class="gap-6 mobile:flex mobile:flex-col text-[#fff] mobile:mx-auto mobile:gap-y-2 flex flex-row">
                  <div class="w-[4.5rem] h-[4.5rem] mobile:mx-auto">
                      <img src='../assets/icon-cog.svg'/>
                  </div>
                  <div class="flex flex-col gap-y-4 mobile:gap-y-1">
                      <h3 class="laptop:text-left tablet:text-left font-livvic font-bold text-[1.125rem] text-center text-light-coral">Easy to Implement</h3>
                      <p class="laptop:text-left font-livvic font-semibold text-[0.9375rem] leading-[1.5625rem] opacity-40 tablet:text-left mobile:text-center mobile:mt-2">
                          Our processes have been refined over years of
                          implementation meaning our teams always
                          deliver.
                      </p>
                  </div>
              </div>

              <div class="gap-6  mobile:flex mobile:flex-col text-[#fff] mobile:mx-auto  flex flex-row">
                  <div class="w-[4.5rem] h-[4.5rem] mobile:mx-auto">
                      <img src='../assets/icon-chart.svg'/>
                  </div>
                  <div class="flex flex-col gap-y-4 mobile:gap-y-1 mobile:w-[20.4375rem]">
                      <h3 class="laptop:text-left tablet:text-left font-livvic font-bold text-[1.125rem] mobile:text-center text-light-coral">Enhanced Productivity</h3>
                      <p class="font-livvic font-semibold text-[0.9375rem] leading-[1.5625rem] laptop:text-left opacity-40 mobile:text-center mobile:mt-2">
                          Our customized platform with in-built
                          analytics helps you manage your distrbuted
                          teams
                      </p>
                  </div>
              </div>

          </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row bg-deep-jungle-green" id="testimonials-section">
    <div class="overflow-hidden laptop:flex laptop:flex-col laptop:w-[95rem] laptop:gap-y-10">
      <img class="w-[9.1875rem] h-[6.25rem]"  src='../assets/bg-pattern-home-4-about-3.svg' alt="bg-homepat-4"/>
      <!-- <div > -->
      <!-- </div> -->
      <div class="laptop:gap-y-[3.5rem] laptop:mx-[10.3125rem]  laptop:h-[29.0625rem] laptop:w-[69.375rem] tablet:mx-[6.125rem] laptop:flex laptop:flex-col  tablet:flex tablet:flex-col tablet:w-[35.8125rem] tablet:h-[62.4375rem] mobile:flex mobile:flex-col mobile:gap-y-8 mobile:w-[20.4375rem] mobile:h-[69.125rem] mobile:mx-[2rem]">
        <div class="mobile:h-[8rem] tablet:h-[6rem] laptop:w-[40rem] laptop:h-[6rem] text-center laptop:mx-auto">
        <h2 class="font-livvic text-[2rem] mobile:leading-8 tablet:leading-7 text-center font-bold text-[#fff]">
            Delivering real results for top companies.
            Some of our <span class="text-rapture-blue">success stories.</span>
        </h2>
        </div>
        <div class="mobile:flex mobile:flex-col mobile:gap-y-8 mobile:h-[58.125rem] tablet:gap-y-7 children:h-[17.375rem] tablet:flex tablet:flex-col tablet:mt-[1rem] laptop:flex laptop:flex-row  laptop:gap-10">
          <div class="mobile:flex mobile:flex-col mobile:h-[17.375rem] tablet:flex tablet:flex-col tablet:h-[15.8125rem] laptop:">
              <div class="w-[4.1875rem] h-[3.5rem] mx-auto">
                  <img src='../assets/icon-quotes.svg'/>
              </div>
              <h3 class="mt-[-1.2rem] text-[#fff] font-livvic font-semibold text-[0.9375rem] leading-[1.5rem] text-center">
                  “The team perfectly fit the specialized skill set required.
                  They focused on the most essential features helping us
                  launch the platform eight months faster than planned.”
              </h3>
              <div class="flex flex-col h-[7.875rem] mx-auto mt-[1rem] items-center gap-y-1 font-livvic">
                <h3 class="text-rapture-blue text-center text-[1.125rem] leading-[1.75rem] font-semibold ">Kady Baker</h3>
                <h4 class=" font-livvic font-italic text-[#fff] font-medium leading-[1.125rem] text-[0.825rem] ">Product Manager at Bookmark</h4>
                <div class="rounded-full w-[3.875rem] h-[3.875rem] border-solid border-[0.125rem] border-[#c4ffee]">
                  <img src='../assets/avatar-kady.jpg' class="rounded-full"/>
                </div>
              </div>
          </div>
          <div class="mobile:flex mobile:flex-col mobile:h-[17.375rem] tablet:flex tablet:flex-col tablet:h-[15.8125rem] ">
              <div class="w-[4.1875rem] h-[3.5rem]  mx-auto">
                  <img src='../assets/icon-quotes.svg'/>
              </div>
              <h3 class="mt-[-1.2rem] text-[#fff] font-livvic font-semibold text-[0.9375rem] leading-[1.5rem] text-center">
                “We needed to automate our entire onboarding process.
                The team came in and built out the whole journey.
                Since going live, user retention has gone through the roof!”
              </h3>
              <div class="flex flex-col h-[7.875rem] mx-auto mt-[1.5rem] items-center gap-y-1 font-livvic">
                  <h3 class="text-rapture-blue text-center text-[1.125rem] leading-[1.75rem] font-semibold ">Aiysha Resee</h3>
                  <h4 class="font-livvic font-italic text-[#fff] leading-[1.125rem] text-[0.825rem]">Founder at Manage</h4>
                  <div class="rounded-full w-[3.875rem] h-[3.875rem] border-solid border-[0.125rem] border-[#c4ffee]">
                      <img src='../assets/avatar-aiysha.jpg' class="rounded-full"/>
                  </div>
              </div>
          </div>
          <div class="mobile:flex mobile:flex-col mobile:h-[17.375rem] tablet:flex tablet:flex-col tablet:h-[15.8125rem]">
              <div class="w-[4.1875rem] h-[3.5rem] mx-auto">
                  <img src='../assets/icon-quotes.svg'/>
              </div>
              <h3 class="mt-[-1.2rem] text-[#fff] font-livvic font-semibold text-[0.9375rem] leading-[1.5rem] text-center">
                  “Amazing. Our team helped us build an app that delivered
                  a new experience for hiring a physio.
                  The launch was an instant success with 100k
                  downloads in the first month.”
              </h3>
              <div class="flex flex-col h-[7.875rem] mx-auto mt-[1.5rem] items-center gap-y-1 font-livvic">
                  <h3 class="text-rapture-blue text-center text-[1.125rem] leading-[1.75rem] font-semibold ">Arthur Clarke</h3>
                  <h4 class="font-livvic font-italic text-[#fff] font-medium leading-[1.125rem] text-[0.825rem] ">Co-founder of Myphysio</h4>
                  <div class="rounded-full w-[3.875rem] h-[3.875rem] border-solid border-[0.125rem] border-[#c4ffee]">
                      <img src='../assets/avatar-arthur.jpg' class="rounded-full"/>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="w-[12.5rem] h-[6.2rem]  mobile:ml-auto tablet:ml-auto self-end">
        <img src='../assets/bg-pattern-home-5.svg'/>
      </div>
    </div>
  </div>
  <app-contact-section></app-contact-section>
  <app-footer></app-footer>
</main>
